.mine-wrapper {
    .mine-main {
        .mine-title-top {
            display: flex;
            justify-content: space-between;
            background-color: #ff8080;
            padding: 10px 20px;
            color: #ffffff;
            i {
                font-style: normal;
            }
        }
    }
}